<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.electricity.mapper.UserOrderMapper">

    <resultMap id="BaseResultMap" type="com.electricity.model.entity.UserOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="date" column="date" jdbcType="TIMESTAMP"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="expenses" column="expenses" jdbcType="DOUBLE"/>
            <result property="electricity" column="electricity" jdbcType="DOUBLE"/>
            <result property="sellPrice" column="sell_price" jdbcType="DOUBLE"/>
            <result property="payStyle" column="pay_style" jdbcType="VARCHAR"/>
            <result property="creatTime" column="creat_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,date,
        account,expenses,electricity,
        sell_price,pay_style,creat_time,
        update_time
    </sql>
</mapper>
